@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 245, 212, 122;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

p, h2 {
  text-wrap: balance;
}

.title-parent {
  perspective: 500px;
  perspective-origin: bottom;
}

@keyframes heroImgAnimation {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}

.hero-img {
  animation: heroImgAnimation 2s ease-out forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

.custom-min-height {
  min-height: calc(100vh - 12rem);
}
